<footer>
  <div class="container">
    <div class="box box-1">
      <p>© 2024 Airbnb, Inc.</p>
      <div class="nav-list">
        <a href="#">Terms</a>
        <a href="#">Sitemap</a>
        <a href="#">Privacy</a>
        <a href="#">PrivacyYour Choices</a>
      </div>
    </div>
    <div class="box box-2">
      <p>
        <i class="fa-solid fa-globe"></i>
        <span>English (US)</span>
      </p>
      <p>
        <span>$ USD</span>
      </p>
      <div class="icons">
        <a href="$"><i class="fa-brands fa-facebook"></i></a>
        <a href="$"><i class="fa-brands fa-instagram"></i></a>
        <a href="$"> <i class="fa-brands fa-twitter"></i></a>
      </div>
    </div>
  </div>
</footer>
