<% layout("/layouts/boilerPlate") %>

<section class="login-user">
  <div class="container">
    <h1>Login on Wanderlust</h1>
    <form class="needs-validation" action="/login" method="post" novalidate>
      <div class="username">
        <label for="username">username</label>
        <input
          class="form-control"
          type="text"
          name="username"
          id="username"
          placeholder="abc123"
          required
        />
        <div class="invalid-feedback">provide a username</div>
        <span class="material-symbols-outlined"> error </span>
      </div>
      <div class="password">
        <label for="password">Password</label>
        <input
          class="form-control"
          type="password"
          name="password"
          id="password"
          required
        />
        <div class="invalid-feedback">Enter a password</div>
        <span class="material-symbols-outlined"> error </span>
      </div>

      <button type="submit">Login</button>
    </form>
  </div>
</section>
